@model ClienteDetailViewModel
<div class="card">
    <div class="card-header">Dettaglio cliente</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Ragione Sociale</label><br>
                                    <label class="labtesto-tabella-bt">@Model.RagioneSociale</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Indirizzo</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Indirizzo</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Comune</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Comune</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Cap</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Cap</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Provincia</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Provincia</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Telefono</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Telefono</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Fax</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Fax</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Codice Fiscale</label><br>
                                    <label class="labtesto-tabella-bt">@Model.CodiceFiscale</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Partita Iva</label><br>
                                    <label class="labtesto-tabella-bt">@Model.PartitaIva</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-reply"></i></a>&nbsp;
                                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>&nbsp;
                                <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-title">Conferma eliminazione</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Stai per eliminare il cliente e non potrai recuperarlo. Confermi l'eliminazione?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-danger">Conferma</button>
                </div>
            </div>
        </div>
    </div>
</form>