@model SocioDetailViewModel
<div class="card">
    <div class="card-header">Dettaglio socio</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Numero tessera</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Tessera</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Nominativo</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Nominativo</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Indirizzo</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Indirizzo</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Comune</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Comune</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Cap</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Cap</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Provincia</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Provincia</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Luogo di nascita</label><br>
                                    <label class="labtesto-tabella-bt">@Model.LuogoNascita</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Data di nascita</label><br>
                                    <label class="labtesto-tabella-bt">@{
                                        var dataNascita = DateTime.Parse(@Model.DataNascita);

                                        @dataNascita.ToString("dd/MM/yyyy");
                                    }</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Codice Fiscale</label><br>
                                    <label class="labtesto-tabella-bt">@Model.CodiceFiscale</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Telefono</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Telefono</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Email</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Email</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Data tesseramento</label><br>
                                    <label class="labtesto-tabella-bt">@{
                                        var dataTessera = DateTime.Parse(@Model.DataTesseramento);

                                        @dataTessera.ToString("dd/MM/yyyy");
                                    }</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Professione</label><br>
                                    <label class="labtesto-tabella-bt">@Model.Professione</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="labtitolo-tabella-bt">Trattamento dei dati</label><br>
                                    <label class="labtesto-tabella-bt">@{
                                        var trattamento = string.Empty;

                                        if(@Model.TrattamentoDati == "0")
                                        {
                                            trattamento = "Autorizzato";
                                        }
                                        else
                                        {
                                            trattamento = "Non autorizzato";
                                        }
                                        @trattamento.ToString();
                                    }</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-reply"></i></a>&nbsp;
                                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>
                                <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md d-flex align-items-center">
                                <a href="#collapse1" data-toggle="collapse">Soci Familiari (@Model.SociFamiliari.Count)</a>&nbsp;
                                <a class="btn btn-outline-secondary btn-sm" asp-controller="SociFamiliari" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-file-alt"></i></a>
                            </div>
                            <div id="collapse1" class="col-md-12 collapse">
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-9 titolo-tabella-bt">Familiare</div>
                                    <div class="col-md-3"></div>
                                </div>
                                @foreach (var sociofamiliare in Model.SociFamiliari)
                                {
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-11 testo-tabella-bt">@sociofamiliare.Familiare</div>
                                        <div class="col-md-1 d-flex align-items-center">
                                            <a class="btn btn-outline-info" asp-controller="SociFamiliari" asp-action="Edit" asp-route-id="@sociofamiliare.Id"><i class="fas fa-edit"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md d-flex align-items-center">
                                <a href="#collapse2" data-toggle="collapse">Rinnovi (@Model.SociRinnovi.Count)</a>&nbsp;
                                <a class="btn btn-outline-secondary btn-sm" asp-controller="SociRinnovi" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-file-alt"></i></a>
                            </div>
                            <div id="collapse2" class="col-md-12 collapse">
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-2 titolo-tabella-bt">Anno</div>
                                    <div class="col-md-2 titolo-tabella-bt">Quota</div>
                                    <div class="col-md-2 titolo-tabella-bt">Data rinnovo</div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                </div>
                                @foreach (var sociorinnovo in Model.SociRinnovi)
                                {
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-2 testo-tabella-bt">@sociorinnovo.Anno</div>
                                        <div class="col-md-2 testo-tabella-bt">@sociorinnovo.Quota</div>
                                        <div class="col-md-2 testo-tabella-bt">@sociorinnovo.DataRinnovo</div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3 d-flex align-items-center">
                                            <a class="btn btn-outline-secondary ml-3" asp-controller="SociRinnovi" asp-action="Edit" asp-route-id="@sociorinnovo.Id"><i class="fas fa-edit"></i></a>
                                        </div>
                                    </div>   
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-title">Conferma eliminazione</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Stai per eliminare il socio e non potrai recuperarlo. Confermi l'eliminazione?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-danger">Conferma</button>
                </div>
            </div>
        </div>
    </div>
</form>