@model IList<MissioneViewModel>
<h1>Elenco missioni <a asp-action="Create" class="btn btn-primary btn-xs">Crea nuova missione</a></h1>

@foreach (var missione in Model)
{
    <div class="row">
        <div class="col-2">@missione.Id</div>
        <div class="col-2">@missione.Data.ToString("dd/MM/yyyy")</div>
        <div class="col-2">@missione.Tipologia</div>
        <div class="col-4">@missione.Titolo</div>
        <div class="col-2"><a asp-action="Edit" asp-route-id="@missione.Id" class="btn btn-primary">Modifica</a></div>
    </div>
}