@model AssociazioneDetailViewModel
<div class="card">
    <div class="card-header">Dettaglio associazione</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Denominazione" class="labtitolo-tabella-bt"></label><br>
                        <label class="labtesto-tabella-bt">@Model.Denominazione</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sigla" class="labtitolo-tabella-bt"></label><br>
                        <label class="labtesto-tabella-bt">@Model.Sigla</label>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Indirizzo" class="labtitolo-tabella-bt"></label><br>
                        <label class="labtesto-tabella-bt">@Model.Indirizzo</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Cap" class="labtitolo-tabella-bt"></label><br>
                        <label class="labtesto-tabella-bt">@Model.Cap</label>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Comune" class="labtitolo-tabella-bt"></label><br>
                        <label class="labtesto-tabella-bt">@Model.Comune</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Provincia" class="labtitolo-tabella-bt"></label><br>
                        <label class="labtesto-tabella-bt">@Model.Provincia</label>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-reply"></i></a>&nbsp;
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>